* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', 'Noto Sans TC', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-size: 10px;
  font-weight: 400;
  font-synthesis: none;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input,
a {
  font-family: inherit;
}

.hljs-keyword {
  color: royalblue;
}
.hljs-title {
  color: orangered;
}
